.container {
  display: flex;
  background-color: var(--background-color-2);
  height: 100vh;
  color: var(--white);
  padding: 1px;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header {
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

.input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  color: var(--white);
}

.button {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: transparent;
  margin-right: 10px;
}

.inputContainer {
  display: flex;
  width: 100%;
  background-color: transparent;
  border-radius: 8px;
  margin-bottom: 20px;
  align-items: center;
  border: 1px solid #ccc;
  gap: 6px;
  margin-bottom: 20px;
}

.habits {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.habit {
  display: flex;
  width: 100%;
  gap: 8px;
  border-bottom: 1px solid var(--neutral);
  line-height: 40px;
  border-radius: 8px;
}

.habit:hover {
  background-color: var(--neutral)
}

.habit-active {
  background-color: var(--neutral)
}

.habit p {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  padding-left: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.deleteButton {
  background-color: transparent;
  border: none;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 6px;

  transition: color 0.2s;
}

.deleteButton:hover {
  color: var(--red-color);
}

.input:focus {
  outline: none;
  border: none;
}

.summary {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid var(--neutral);
  gap: 70px;
}

.checker {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--primary-color);
  color: var(--white);
}

.calendarContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 40px;
}
