@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Lexend:wght@100..900&display=swap');

:root {
  --background-color: #04141c;
  --background-color-2: #001e28;
  --white: #fff;
  --neutral: #575757;
  --info-color: #016bf8;
  --information-color: #003578;
  --red-color: #ff4d4d;
  --red-hover: #a93232;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

button {
  cursor: pointer;
  border: 0;
}